<% if object.errors.any? %>
  <section class="error">
    <header>
      <h2>
        Oops! You have form errors.
      </h2>
      <h3>
        Please correct the following
        <%= pluralize object.errors.count, "error" %>:
      </h3>
    </header>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </section>
<% end %>
